<div class="card">
    <h2 class="h2-header">Edit Post</h2>
    <form class="edit-post">
        <label for="title" class="form-label">Title</label>
        <input name="title" type="text" value="{{post.title}}" class="form-input" />
        <label class="label" for="content">Content</label>
        <input name="content" type="text" value="{{post.content}}" class="form-input" />
        <button type="submit" class="btn">Update Post</button>


    </form>
</div>

<script src=".././public/js/edit-post.js"></script>