<div class="card">
    <h2 class="h2-header">Login</h2>
    <form id="login-form" class="form-body">
        <label class="form-label" for="username">Username</label>
        <input type="text" autofocus="true" />

        <label for="password">Password</label>
        <input type="password" autofocus="true" />
        <button type="submit">Login</button>
        <a href="/signup">Create an Account</a>
    </form>

</div>

<script src="../public/js/login.js"></script>